<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <a href="" title="" class="logo"><img src="./assets/img/logo-2.svg" alt=""></a>
            </div>
            <div class="col-md-3 col-6">
                <h4 class="fw-b">zkINfra</h4>
                <ul>
                    <li>Contract: 0x0....abcd</li>
                    <li>Email:</li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h4 class="fw-b">Links</h4>
                <ul>
                    <li><a href="" title="">About</a></li>
                    <li><a href="" title="">Whitepaper</a></li>
                    <li><a href="" title="">Roadmap</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h4>Social</h4>
                <div class="social flex">
                    <a href="" title="" class="telegram">Telegram</a>
                    <a href="" title="" class="x">X</a>
                </div>
            </div>
        </div>
    </div>
</footer>