<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button"><span class="navbar-toggler-icon"></span></button>
            <a href="/hashmind/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex">
                    <li><a href="/dapp.html" title="zkIn Private Transaction">zkIn Private Transaction</a></li>
                    <li><a href="" title="zkIn Cloud  Computing">zkIn Cloud  Computing</a></li>
                    <li><a href="" title="zkIn AI">zkIn AI</a></li>
                </ul>
                <div class="social flex">
                    <a href="" title="" class="telegram">Telegram</a>
                    <a href="" title="" class="x">X</a>
                </div>
                <a href="" title="" class="btn-pr">Connect Wallet</a>
            </div>
        </nav>
    </div>
</header>
