<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button"><span class="navbar-toggler-icon"></span></button>
            <a href="/hashmind/build/home" class="logo"><img src="./assets/img/logo-2.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex">
                    <li><a href="/hashmind/build/home" title="Home">Home</a></li>
                    <li><a href="" title="About">About</a></li>
                    <li><a href="" title="Features">Features</a></li>
                    <li><a href="" title="Whitepaper">Whitepaper</a></li>
                </ul>
                <div class="social flex">
                    <a href="" title="" class="telegram">Telegram</a>
                    <a href="" title="" class="x">X</a>
                </div>
                <a href="" title="" class="btn-pr">Launch App</a>
            </div>
        </nav>
    </div>
</header>
