<main>
    <div class="zkinfra-dapp">
        <div class="box-dapp">
            <div class="text-right txt-gray mb-4">Default asset: ETH</div>
            <form action="" method="">
                <div class="form-group">
                    <label>Sending Amount</label>
                    <div class="box-input flex">
                        <input type="text" placeholder="0.00">
                        <div class="coin flex-lc">
                            <img src="./assets/img/eth.svg" alt="">
                            <span class="fw-b">ETH</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Estimate Receiving Amount</label>
                    <div class="box-input flex">
                        <input type="text" placeholder="0.00">
                        <div class="coin flex-lc">
                            <img src="./assets/img/eth.svg" alt="">
                            <span class="fw-b">ETH</span>
                        </div>
                    </div>
                </div>
                <ul class="info mb-4">
                    <li>
                        <h5>Transaction fees</h5>
                        <span>0,50%</span>
                    </li>
                    <li>
                        <h5>ETA</h5>
                        <span>15-20 mins</span>
                    </li>
                    <li>
                        <h5>Slippage</h5>
                        <span>0,50%</span>
                    </li>
                </ul>
                <div class="form-group">
                    <label>Enter Recipient Wallet Address</label>
                    <div class="box-input flex">
                        <input type="text" placeholder="0xC3...f57">
                        <div class="coin flex-lc">
                            <img src="./assets/img/eth.svg" alt="">
                            <span class="fw-b">ETH</span>
                        </div>
                    </div>
                </div>
                <div class="check-box mb-4">
                    <label class="pr">
                        <input type="checkbox" name="">
                        <span class="checked"></span>
                        Receive notifications about how my transactions are shielded.
                    </label>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="box-input flex">
                        <input type="text" value="John@Doe.com">
                    </div>
                </div>
                <button type="submit" class="btn-sub w-full flex-center fw-b">Confirm</button>
            </form>
        </div>
        <div class="box-steps flex">
            <div class="step step--1 flex-lc active pr">
                <i class="icon icon-success"></i>
                <span class="number">1</span>
                <span class="text fw-b">Enter Transaction Detail</span>
            </div>
            <div class="step step--2 flex-lc pr">
                <i class="icon"></i>
                <span class="number">2</span>
                <span class="text fw-b">zkSnark Shields Transaction</span>
            </div>
            <div class="step step--3 flex-lc pr">
                <i class="icon"></i>
                <span class="number">3</span>
                <span class="text fw-b">Completed</span>
            </div>
        </div>
    </div>
</main>