<main>
    <div class="zkinfra-dapp">
        <div class="box-dapp lg">
            <div class="success text-center">
                <i class="icon icon-success"></i>
                <span>Your transaction has been completed.</span>
            </div>
        </div>
        <div class="box-steps flex">
            <div class="step step--1 flex-lc active pr">
                <i class="icon icon-success"></i>
                <span class="number">1</span>
                <span class="text fw-b">Enter Transaction Detail</span>
            </div>
            <div class="step step--2 flex-lc active pr">
                <i class="icon"></i>
                <span class="number">2</span>
                <span class="text fw-b">zkSnark Shields Transaction</span>
            </div>
            <div class="step step--3 flex-lc active pr">
                <i class="icon"></i>
                <span class="number">3</span>
                <span class="text fw-b">Completed</span>
            </div>
        </div>
    </div>
</main>