<main>
    <div class="zkinfra-s1">
        <div class="container flex">
            <div class="content">
                <h1 data-aos="fade-up"><span>zkINfra:</span> Elevating Blockchain Privacy And Efficiency Powered By ZK Technology</h1>
                <p class="txt-md" data-aos="fade-up" data-aos-delay="200">zkInfra is designed to harness ZK technology for enhanced privacy in DeFi, DePIN and AI, featuring Private Transactions, AA Smart Contract Wallet, and Decentralized Cloud Platform for GPU & AI Model Training</p>
                <div class="box-btn flex" data-aos="fade-up" data-aos-delay="400">
                    <button type="button" class="btn-sub">Join Community</button>
                </div>
            </div>
        </div>
        <div class="box-video">
            <video autoplay muted loop playsinline>
                <source src="./assets/img/video-5.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="zkinfra-s2">
        <div class="container">
            <h2 class="title text-center">Product Highlights</h2>
            <div class="product-highlight">
                <div class="item flex" data-aos="fade-right">
                    <div class="box-video">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/zk-h-video-1.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="content">
                        <h4 class="txt-xl fw-b">Zero-Knowledge Proof</h4>
                        <p class="txt-md">Leveraging zk-SNARKs to ensure fully private and secure blockchain transactions, safeguarding the confidentiality of user data and financial activities</p>
                    </div>
                </div>
                <div class="item flex" data-aos="fade-left">
                    <div class="box-video">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/zk-h-video2.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="content">
                        <h4 class="txt-xl fw-b">Account Abstraction</h4>
                        <p class="txt-md">AA (ERC-4337) seamlessly combines user accounts with smart contract capabilities, enhancing DeFi interactions with simplified, secure access and expanded functionality.</p>
                    </div>
                </div>
                <div class="item flex" data-aos="fade-right">
                    <div class="box-video">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/zk-h-video-3.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="content">
                        <h4 class="txt-xl fw-b">Decentralized Computing</h4>
                        <p class="txt-md">Delivers a secure and scalable platform for decentralized storage and GPU rental, facilitating private and efficient AI model training and data handling.</p>
                    </div>
                </div>
                <div class="item flex" data-aos="fade-left">
                    <div class="box-video">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/zk-h-video-4.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="content">
                        <h4 class="txt-xl fw-b">ZKP & AI Model Training</h4>
                        <p class="txt-md">Harnesses ZKPs for privacy-preserving AI model training, offering a secure platform that protects data integrity while enabling cutting-edge computational research and development.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="zkinfra-s3">
        <div class="container">
            <h2 class="title text-center">zkINfra Architecture: <span>Building Blocks and Workflow</span></h2>
            <div class="box-map pr" data-aos="fade-up">
                <div class="map pr"><img src="./assets/img/map.svg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="zkinfra-s4">
        <div class="item item--1">
            <div class="container">
                <div class="flex-lc">
                    <div class="img-wrapper" data-aos="fade-right"><img src="./assets/img/zkin-transaction.png" alt=""></div>
                    <div class="content" data-aos="fade-left">
                        <h4 class="fw-b">zkIN Private Transaction</h4>
                        <p class="txt-md">The zkIN Private Transaction feature is at the forefront of our privacy-centric innovations, integrating zk-SNARKs to revolutionize transaction privacy on the blockchain. This advanced cryptographic technique enables the execution of secure and private transactions, setting a new standard in the realm of digital finance.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item--2">
            <div class="container">
                <div class="flex-lc">
                    <div class="content" data-aos="fade-right">
                        <h4 class="fw-b">zkIN Wallet</h4>
                        <p class="txt-md">zkIN Wallet redefines the blockchain wallet experience by integrating Account Abstraction (AA) and empowering the zkSync Era and EVM-based Chains. This advanced Smart Contract Wallet is designed to simplify user interactions with blockchain technologies while enhancing privacy and security through innovative use of Zero-Knowledge Proofs (ZKPs).</p>
                    </div>
                    <div class="img-wrapper" data-aos="fade-left"><img src="./assets/img/digital-wallet.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="item item--3 flex">
            <div class="container">
                <div class="flex-lc">
                    <div class="img-wrapper" data-aos="fade-right"><img src="./assets/img/zkin-computing.png" alt=""></div>
                    <div class="content" data-aos="fade-left">
                        <h4 class="fw-b">zkIN Cloud Computing</h4>
                        <p class="txt-md">zkIN Cloud Computing is poised to transform the cloud service landscape by combining zk-Proven Decentralized Storage with privacy-centric GPU Rental for AI model training. This dual approach not only advances the frontiers of privacy and security in cloud computing but also opens up new possibilities for AI development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="zkinfra-s5">
        <div class="container">
            <div class="content">
                <h2 class="title" data-aos="fade-up">zkIN AI</h2>
                <p class="txt-md" data-aos="fade-up" data-aos-delay="200">The fusion of ZKP technology with AI model training within zkIN AI offers a unique solution that preserves data confidentiality while allowing for the development and deployment of AI models. This ensures that sensitive information, proprietary data, and intellectual property remain secure throughout the AI training process.</p>
            </div>
        </div>
        <div class="box-video">
            <video autoplay muted loop playsinline>
                <source src="./assets/img/video-1.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="zkinfra-s6">
        <div class="container">
            <h2 class="title text-center">Roadmap</h2>
            <div class="box-roadmap">
                <div class="roadmap pr">
                    <div class="item pr" data-aos="fade-up">
                        <h4 class="txt-xl fw-b">Phase 1</h4>
                        <ul class="txt-md">
                            <li>Infrastructure Development</li>
                            <li>zkIN Private Transaction Implementation</li>
                            <li>Smart Contract Deployment & Testing</li>
                            <li>Launch zkIN Private Transaction Testnet</li>
                            <li>Enhance Protocol Security</li>
                        </ul>
                        <div class="circles">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="circle3"></div>
                        </div>
                    </div>
                    <div class="item pr" data-aos="fade-up" data-aos-delay="200">
                        <h4 class="txt-xl fw-b">Phase 2</h4>
                        <ul class="txt-md">
                            <li>$ZKIN Token Launch</li>
                            <li>zkIN Private Transaction Mainnet Launch</li>
                            <li>Community Engagement & Growth</li>
                            <li>AA Development: Smart Contract Wallet</li>
                            <li>zkInfra Full Audit</li>
                        </ul>
                    </div>
                    <div class="item pr" data-aos="fade-up" data-aos-delay="400">
                        <h4 class="txt-xl fw-b">Phase 3</h4>
                        <ul class="txt-md">
                            <li>Launch zkIN Wallet</li>
                            <li>Cross-chain Swap Integration</li>
                            <li>Major CEX Listing</li>
                            <li>Launch zkIN Cloud Computing Service</li>
                            <li>zkInfra DAO Formation</li>
                        </ul>
                    </div>
                    <div class="item pr" data-aos="fade-up" data-aos-delay="600">
                        <h4 class="txt-xl fw-b">Phase 4</h4>
                        <ul class="txt-md">
                            <li>zkIN AI Testing & Integration</li>
                            <li>Platform Optimization</li>
                            <li>Expand Infrastructure</li>
                            <li>Advanced DeFi Services Launch</li>
                            <li>Long-Term Sustainability Initiatives</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-video-bg">
        <video autoplay muted loop playsinline>
            <source src="./assets/img/video-3.mp4" type="video/mp4">
        </video>
    </div>
</main>