:root{
  --cyan: #5799E5;
  --gray: #8F909B;
}
body{
  background: #01002D;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
body.modal-open{overflow: hidden;}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s; color: #000;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%; padding: 20px 0;
  position: fixed; z-index: 9; transition: .5s;
  &.scroll{background: #01002D; padding: 12px 0; box-shadow: 0 2px 4px rgba(#000,.18);}
  .social{
    margin-left: auto;
  }
  .navbar-toggle{display: none;}
  .btn-pr{margin-left: auto;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 0;
  border-radius: 0; border: none;
  .logo{width: 155px;}
}
.navbar-collapse{padding: 0; justify-content: flex-start;}
.navbar-nav{
  margin: 0 0 0 auto; align-items: center;
  >*+*{margin-left: 45px;}
  > li{display: flex; align-items: center;}
  > li > a{display: block; font-size: 16px; font-weight: 700; color: #fff; line-height: 18px; position: relative;}
  a:hover,.active{color: var(--cyan);}
}


//home
main{min-height: 78vh; padding-top: 86px;}
.box-video-bg{
  width: 100%; height: 100%; position: fixed; top: 0; left: 0;
  video{width: 100%; height: 100%; object-fit: cover;}
}
.zkinfra-s1{
  padding: 122px 0 176px;
  min-height: 100vh;
  align-items: center;
  background: #01002D;
  position: relative;
  .container{position: relative; z-index: 3;}
  &::before{
    content: "";
    width: vw(1174px); height: vw(317px); display: none;
    background: url("#{$img-path}/round.svg") no-repeat 0 0/contain;
    position: absolute; bottom: vw(16px); left: vw(203px);
  }
  .img-wrapper{
    width: 1174px; position: relative; margin: -95px 0 -20px;
    .img--m{display: none;}
    .img--1{animation: light .8s infinite linear;}
    .img--2{width: 287px; position: absolute; top: 290px; left: 260px; animation: rotate 10s infinite linear;}
  }
  .content{
    width: 605px; color: #F3F6FA; z-index: 3;
  }
  .box-video{
    width: 100%; height: 100%; position: absolute; top: -86px; left: 0; z-index: 2;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #01010e 100%);
    }
    video{width: 100%; height: 100%; object-fit: cover;}
  }
  .box-btn > *+*{margin-left: 20px;}
  h1{font-weight: 700; font-size: 60px; line-height: 72px;}
  h1 span{color: var(--cyan);}
  p{margin: 32px 0;}
}
.zkinfra-s2{
  padding: 40px 0 168px; position: relative;
  &::before,&::after{content: ""; position: absolute; filter: blur(100px); max-width: 100%; display: none;}
  &::before{
    width: 731px; height: 1383px;
    background: url("#{$img-path}/decor-1.svg") no-repeat 0 0/contain;
    right: 0; top: -764px;
  }
  &::after{
    width: 960px; height: 1760px;
    background: url("#{$img-path}/decor-2.svg") no-repeat 0 0/contain;
    left: 0; top: 210px; z-index: 2;
  }
  .title{margin-bottom: 80px;}
  .product-highlight{
    display: grid; grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 165px;
    position: relative; z-index: 3;
    .item{}
    h4{margin-bottom: 12px;}
    .img-wrapper{width: 225px; /*animation: light 2s infinite linear;*/}
    .box-video{
      width: 128px; height: 128px;
      border-radius: 8px;
      border: 3px solid #0047AB; overflow: hidden;
      video{width: 100%; height: 100%; object-fit: cover;}
    }
    .content{width: calc(100% - 128px); max-width: 395px; padding-left: 30px; color: #F3F6FA;}
  }
}
.zkinfra-s3{
  padding: 0 0 116px; position: relative;
  &::after{
    content: "";
    width: 960px; height: 1760px;
    background: url("#{$img-path}/decor-3.svg") no-repeat 0 0/contain;
    position: absolute; right: 0; top: 0px; filter: blur(100px);
  }
  h2.title{
    margin-bottom: 72px; line-height: 1.2;
    span{display: block; color: #F3F6FA;}
  }
  .box-map{width: 100%; overflow-x: auto; overflow-y: hidden; z-index: 3;}
  .map{width: 1090px; margin: 0 auto;}
  .map:after{
    content: "";
    width: 963px; height: 600px; max-width: 100%; display: none;
    background: url("#{$img-path}/chip.svg") no-repeat 0 0/contain;
    position: absolute; left: 62px; top: 110px;
    animation: flash 1.5s infinite linear;
  }
}
.zkinfra-s4{
  padding: 0;
  background:#000;
  position: relative;
  &::after{
    content: "";
    width: 100%; height: 500px;
    background: url("#{$img-path}/bg-zkin-wallet.png") no-repeat 0 0/cover;
    position: absolute; left: 0; top: 577px; z-index: -1;
    animation: light .6s infinite linear;
  }
  .content{width: 605px;}
  .flex-lc{flex-wrap: nowrap;}
  .item{position: relative; z-index: 2;}
  .item--1{
    padding: 46px 0;
    background: var(--Gradient-Main-Blue, linear-gradient(137deg, rgba(#0047AB,.2) 16.11%, rgba(#5799E5,.2) 83.89%));
    .img-wrapper{margin-left: -44px; animation: light 1s infinite linear;}
    .content{padding-bottom: 20px;}
  }
  .item--2{
    padding: 86px 0;
    .content{padding-top: 20px; margin-right: 148px;}
  }
  .item--3{
    padding: 84px 0 151px;
    background: var(--Gradient-Main-Blue, linear-gradient(137deg, rgba(#0047AB,.2) 16.11%, rgba(#5799E5,.2) 83.89%));
    .img-wrapper{
      margin: 0 105px 0 132px; position: relative;
      &::after{
        content: "";
        width: 932px; height: 548px;
        background: url("#{$img-path}/bg-zkin-computing.svg") no-repeat 0 0/contain;
        position: absolute; top: -86px; left: -240px;
      }
    }
    .content{padding-bottom: 20px;}
  }
  h4{margin-bottom: 20px; font-size: 48px; line-height: 72px; color: #5799E5;}
  p{color: #F3F6FA;}
}
.zkinfra-s5{
  background: rgba(#000,.7); padding: 153px 0; position: relative; overflow: hidden; z-index: 3;
  &::after{
    content: "";
    width: 89px; height: 43px;
    background: url("#{$img-path}/dot-1.svg") no-repeat 0 0/contain;
    position: absolute; bottom: 45px; right: 54px;
  }
  .content{
    max-width: 605px; position: relative; text-align: center; z-index: 2;
    p{min-height: 150px;}
    &::before,&::after{content: ""; position: absolute;}
    &::before{
      width: 410px; height: 410px; background: url("#{$img-path}/ai-dc-1.svg") no-repeat 0 0/contain;
      top: -85px; left: 97px;
     /* animation: pulse 1.5s infinite linear;*/
    }
    &::after{
      width: 1263px; height: 588px; background: url("#{$img-path}/ai-dc-2.png") no-repeat 0 0/contain;
      top: -172px; left: -86px;
    }
  }
  .title{margin-bottom: 20px;}
  .ai{
    position: absolute; top: 0; right: 0;
    animation: hue 3s infinite linear;
  }
  .box-video{
    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
    video{width: 51%; height: 100%; object-fit: cover; position: absolute; right: 0; top: 0;}
  }
}
.zkinfra-s6{
  padding: 100px 0 156px;
  background: #000;
  position: relative;
  &::after{
    content: "";
    width: 100%; height: 845px;
    background: url("#{$img-path}/bg-roadmap.svg") no-repeat center center/contain;
    position: absolute; left: 50%; transform: translateX(-50%); top: 90px;
  }
  .title{margin-bottom: 80px;}
  .item{
    padding: 0 0 146px 38px; min-height: 440px;
    &:hover{
      ul,h4{transform: translateY(-10px);}
      /*.circles > div{animation: growAndFade 1s ease-out;}*/
    }
    &::before,&::after{
      content: "";
      width: 18px; height: 100%;
      background: url("#{$img-path}/line.svg") no-repeat 0 0/contain;
      position: absolute; bottom: 0; left: 0; transition: height .3s; transform-origin: bottom center;
    }
    &::after{height: 0; filter: hue-rotate(50deg); background-size: 100%; display: none;}
    &:hover::before{ /*filter: hue-rotate(90deg);*/}
    &:nth-child(2){margin-top: 124px; margin-left: 2px;}
    &:nth-child(3) ul{}
    &:nth-child(4){
      margin-top: 124px;
      ul{padding-bottom: 20px;}
    }
  }
  ul,h4{transition: .6s;}
  .container{position: relative; z-index: 3;}
  .roadmap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 16px; align-items: flex-start;
    &::after{
      content: "";
      width: 1363px; height: 207px;
      background: url("#{$img-path}/bg-arrow.svg") no-repeat 0 0/contain;
      position: absolute; bottom: -33px; left: -100px; transition: 1s; z-index: -1;
    }
  }
  h4{margin-bottom: 20px; color: var(--cyan);}
  ul > *+*{margin-top: 10px;}
  li{padding-left: 18px; color: #F3F6FA; position: relative;}
  li::before{
    content: "";
    width: 10px; height: 10px; border-radius: 50%;
    background: linear-gradient(137deg, #0047AB 16.11%, #5799E5 83.89%);
    position: absolute; top: 2px; left: 0;
  }
}

footer{
  padding: 62px 0;
  background: #01002D;
  position: relative;
  font-size: 16px;
  ul > *+*{margin-top: 9px;}
  h4{margin-bottom: 20px; font-size: 18px; line-height: 18px; color: var(--cyan);}
  a{display: inline-block; color: #F3F6FA; font-size: 16px; line-height: 18px;}
  a:hover{color: var(--cyan);}
}

//category
.zkinfra-dapp{
  padding: 46px 15px 62px;
  min-height: calc(100vh - 86px);
  background:#000 url("#{$img-path}/bg-dapp.svg") no-repeat 0 0/cover;
}
.box-dapp{
  max-width: 454px; margin: 0 auto 62px;
  background: #01002D;
  padding: 30px;
  border-radius: 20px;
  &.lg{max-width: 876px; min-height: 504px;}
  .form-group{margin-bottom: 25px;}
  label{margin-bottom: 10px; font-weight: 700; line-height: 18px;}
  .coin{
    width: 98px; height: 50px; justify-content: center; border-left: 1px solid #5799E5;
    img{width: 14px; height: 14px; object-fit: cover; border-radius: 50%;}
    span{padding-left: 5px; line-height: 18px;}
  }
  .box-input{
    border-radius: 8px; border: 1px solid #5799E5; justify-content: space-between;
    input{border: none; background: none; padding: 8px 12px; color: #fff; font-weight: 500; font-size: 18px; line-height: 34px;}
    input:focus{outline: none;}
    input::placeholder{color: #5799E5;}
  }
  .info{
    >*+*{margin-top: 12px;}
    li{display: flex; justify-content: space-between;}
    h5{margin-bottom: 0; font-weight: 400; font-size: 14px; line-height: 18px; color: #8F909B;}
    span{font-weight: 700; color: #5799E5; line-height: 18px;}
  }
  .check-box{
    label{margin-bottom: 0; padding-left: 26px; color: #D0D1DA; font-weight: 400;}
    input{position: absolute; opacity: 0;}
    .checked{
      width: 16px; height: 16px; display: block; border: 2px solid #fff; border-radius: 50%;
      position: absolute; left: 0; top: 2px;
      &::after{
        content: "";
        width: 6px; height: 6px; background: #5799E5; border-radius: 50%;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        opacity: 0; transition: .5s;
      }
    }
    input:checked + .checked{border-color: #5799E5;}
    input:checked + .checked::after{opacity: 1;}
  }
  .text{max-width: 394px; margin: 0 auto; text-align: center; color: #F3F6FA;}
  .progress{
    max-width: 610px; height: 42px; margin: 45px auto 30px;
    padding: 9px 13px;
    border-radius: 8px; border: 1px solid #F3F6FA;
    background: none;
    .loading{height: 100%; background: url("#{$img-path}/loading.png"); transition: 1s;}
  }
  .success{
    padding: 40px 0;
    .icon-success{width: 46px; height: 46px; display: block; margin: 0 auto 40px; background: url("#{$img-path}/success.svg") no-repeat 0 0/contain;}
    span{line-height: 18px;}
  }
  .btn-sub{margin-top: 35px;}
}
.box-steps{
  width: 100%; max-width: 876px; margin: 0 auto; padding: 11px 30px;
  border-radius: 20px; background: #01002D;
  justify-content: space-between;
  overflow: auto;
  >*+*::before{
    content: "";
    width: 56px; height: 2px;
    background: #F3F6FA;
    position: absolute; top: 50%; transform: translateY(-50%); left: -74px;
  }
  .active{
    .icon{background: url("#{$img-path}/success.svg") no-repeat; border: none;}
    span{color: #5799E5;}
  }
  .icon{width: 18px; height: 18px; border: 2px solid #fff; border-radius: 50%;}
  .number{
    margin: 0 11px;
    font-weight: 700; font-size: 48px; line-height: 72px;
  }
  .text{font-weight: 700; line-height: 18px;}
  span{color: #F3F6FA;}
}





//uikit
.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.container{max-width: 1270px; position: relative; z-index: 2;}
.social{
  >*+*{margin-left: 25px;}
  a{display: block; font-size: 0; height: 13px;}
  a:hover{filter: brightness(100%) drop-shadow(rgb(0, 132, 42) 0px 0px 10px) drop-shadow(rgb(0, 134, 105) 0px 0px 16px) drop-shadow(rgba(0, 232, 112, 0.8) 0px 0px 40px);}
  .telegram{width: 15px; background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
  .x{width: 13px; background: url("#{$img-path}/x.svg") no-repeat 0 0/contain;}
}
.btn-pr,.btn-sub{
  padding: 11px 28px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #F3F6FA;
}
.btn-pr{
  border: 1px solid #F3F6FA;
  &:hover{color: #5799E5; border-color: #5799E5;}
}
.btn-sub{
  background: #5799E5;
  &:hover{background: #F3F6FA; color: #0047AB;}
}
.w-full{width: 100%;}

h2.title{color: var(--cyan); font-weight: 700; font-size: 48px; line-height: 72px;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.txt-gray{color: #8F909B;}

.txt-xs{font-size: 12px; line-height: 16px;}
.txt-md{font-size: 16px; line-height: 20px;}
.txt-xl{font-size: 30px; line-height: 42px;}
.fw-b{font-weight: 700;}
.fw-sm{font-weight: 500;}
.mb-xs{margin-bottom: 2px;}
.mt-xs{margin-top: 2px;}
.mb-md{margin-bottom: 35px;}
.mt-md{margin-top: 35px;}

button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}

.circles {
  height: 50px;
  position: absolute;
  width: 50px;
  bottom: -17px; left: -16px;

  > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: #5784f6;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .circle1 {
    animation-delay: 1s;
  }
  .circle2 {
    animation-delay: 2s;
  }
  .circle3 {
    animation-delay: 3s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}

@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@keyframes moviey {
  0%{
    transform: translateY(-25px);
    filter: saturate(1);
  }
  50%{
    transform: translateY(0);
    filter: saturate(2.8);
  }
  100%{
    transform: translateY(-25px);
    filter: saturate(1);
  }
}
@keyframes movieyy {
  0%{
    transform: translateY(-25px);
  }
  50%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-25px);
  }
}

@keyframes light {
  0%{
    filter: saturate(1);
  }
  50%{
    filter: saturate(2.1);
  }
  100%{
    filter: saturate(1);
  }
}
@keyframes hue {
  0%{
    filter: hue-rotate(0deg);
    transform: scale3d(1, 1, 1);
  }
  10%{
    filter: hue-rotate(20deg);
  }
  20%{
    filter: hue-rotate(45deg);
  }
  30%{
    filter: hue-rotate(90deg);
  }
  40%{
    filter: hue-rotate(110deg);
  }
  50%{
    filter: hue-rotate(180deg);
    transform: scale3d(1.01, 1.01, 1.01);
  }
  60%{
    filter: hue-rotate(200deg);
  }
  70%{
    filter: hue-rotate(240deg);
  }
  80%{
    filter: hue-rotate(240deg);
  }
  90%{
    filter: hue-rotate(280deg);
  }
  100%{
    filter: hue-rotate(360deg);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50%{
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50%{
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}