@media (max-width: 1440px) {
  .zkinfra-s1{
    padding: 80px 0 136px;
    .img-wrapper{
      width: vwt(1174px); margin: vwt(-95px) 0 vwt(-20px);
      .img--2{width: vwt(287px); top: vwt(290px); left: vwt(260px);}
    }
    h1{font-size: 53px; line-height: 62px;}
    p{margin: 26px 0;}
  }
  .zkinfra-s2 .product-highlight{grid-row-gap: 115px;}
}
@media (max-width: 1280px) {
  .zkinfra-s4{
    .item--3{
      .img-wrapper{margin: 0 75px 0 90px;}
    }
  }
 
  .zkinfra-s6{
    .item{
      padding: 0 0 46% 30px; min-height: 398px;
      &:nth-child(2){margin-top: 41%;}
      &:nth-child(4){padding-bottom: 70%; margin-top: 24%; margin-left: 2px;}
    }
    .roadmap::after{max-width: 110%; bottom: inherit; top: 350px; left: -8%;}
  }
}


@media (max-width: 1024px) {
  header{
    padding: 10px 0;
    &.scroll{padding: 8px 0;}
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .social{width: 100%; margin-left: inherit; justify-content: center;}
    .btn-pr{margin: 30px auto 0;}
  }
  .navbar{
    width: 100%; min-height: auto; justify-content: flex-start;
    .logo{position: relative; z-index: 99;}
    .login{
      margin: 15px 0 0 25px;
      .more,.notifi{display: none;}
    }
    .avatar{margin-left: 0;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: -100%; left: 0;
    width: 100%; height: auto;
    border-radius: 0 0 53px 53px;
    padding: 0 0 30px;
    background: #01002D;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    >*{opacity: 0;}
    &.show{
      top: 0;
      >*{opacity: 1;}
    }
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 80px 15px 30px;
    >*+*{margin: 30px 0 0;}
    > li{justify-content: center;}
    > li > a{line-height: inherit; padding: 0;}
    a{text-align: center; font-size: 16px;}
    .active::after{display: none;}
  }

  main{padding-top: 62px; overflow: hidden;}
  .zkinfra-s1{
    min-height: auto;
    &::before{top: 62px; max-width: 100%; height: 640px;}
    .content{width: 55%;}
    .box-video{top: -62px;}
    h1{font-size: vwt(54px); line-height: 1.3;}
  }
  .zkinfra-s2{
    .product-highlight{
      grid-row-gap: 80px;
      .img-wrapper{width: 180px;}
    }
  }
  .zkinfra-s3{
    .map{width: 900px;}
  }
  .zkinfra-s4{
    h4{font-size: 40px; line-height: 1.3;}
    .item--3{
      .img-wrapper::after{top: -57%; left: -89%;}
    }
  }
  .zkinfra-s5{
    .ai{max-width: 70%;}
  }
  .zkinfra-s6{
    .container{padding: 0;}
    .item{padding: 0 0 32% 22px; min-height: 396px;}
    ul{font-size: 15px;}
    ul > *+*{margin-top: 20px;}
    .item:nth-child(2){margin-left: 4px;}
    .item:nth-child(4){
      margin-left: 2px; margin-top: 20%;
      .circles{bottom: -8px;}
    }
    .roadmap{min-width: 1240px;}
    .box-roadmap{width: 100%; overflow-x: auto; padding: 0 20px 46px; overflow-y: hidden}
  }
  .zkinfra-dapp{min-height: calc(100vh - 62px);}
  .circles{bottom: -18px; left: -17px;}
}

@media (max-width: 820px) {
  .zkinfra-s2{
    .product-highlight{
      grid-template-columns: repeat(1,1fr);
      .content{max-width: inherit;}
    }
  }
  .zkinfra-s3{
    .map{width: 100%;}
  }
  .zkinfra-s4{
    .flex-lc{flex-wrap: wrap;}
    .content{width: 100%;}
    .img-wrapper{margin: 0 auto;}
    .item--1{
      .img-wrapper{margin: 0 auto;}
      .content{padding-top: 30px;}
    }
    .item--2{
      padding: 46px 0;
      .flex-lc{flex-direction: column-reverse;}
      .content{margin-right: 0;}
    }
    .item--3{
      padding-bottom: 80px;
      .img-wrapper{margin: 0 auto;}
      .img-wrapper::after{top: -29%; left: -61%;}
    }
  }
  .zkinfra-s5{
    .box-video video{width: 70%;}
  }
  .box-steps{
    padding: 11px 15px;
    flex-wrap: nowrap;
    >*+*{margin-left: 40px;}
    >*+*::before{width: 2vw; left: -5vw;}
    span{white-space: nowrap;}
    .step{flex-wrap: nowrap;}
  }
}

@media (max-width: 767px) {
  .zkinfra-s1{
    .img-wrapper{
      width: 100%; max-width: 450px; margin: 0 auto;
      .img--m{display: block;}
      .img--1{display: none;}
      .img--2{
        width: auto; top: 29%;
        left: 16%;
      }
    }
    .content{width: 100%;}
  }
  footer{
    padding: 40px 0 10px;
    .col-md-3{margin-bottom: 30px;}
  }
}

@media (max-width: 480px) {
  body{background: #00000f;}
  header.scroll{background: #00000f;}
  .zkinfra-s1{
    padding: 0 0 80px; display: flex; flex-direction: column-reverse; background: #00000f; z-index: 3;
    h1{font-size: 36px; line-height: 1.26;}
    .img-wrapper{
      margin: vwm(-90px) auto;
      .img--2{width: vwm(287px); top: vwm(288px); left: vwm(84px);}
    }
    .box-video{
      position: relative; width: 172vw; height: auto; top: 0; left: -36vw;
      &::after{background: linear-gradient(to bottom, #00000f  0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #00000f  100%);}
    }
    .content{text-align: center;}
    button{margin: 0 auto;}
  }
  .zkinfra-s2{
    padding: 60px 0;
    .title{margin-bottom: 50px;}
    .product-highlight{
      grid-row-gap: 40px;
      .item{margin: 0 auto;}
      .img-wrapper{margin: 0 auto;}
      img{margin: 0 auto;}
      .box-video{margin: 0 auto 10px;}
      .content{width: 100%; padding-left: 0; margin-top: 10px; text-align: center;}
    }
  }
  .zkinfra-s3{
    padding: 40px 0 80px;
    h2.title{margin-bottom: 50px;}
  }
  .zkinfra-s4{
    h4{font-size: 32px;}
    .content{text-align: center;}
    .item--2{
      .content{padding-top: 30px;}
      .img-wrapper{max-width: 60%;}
    }
    .item--3{
      .img-wrapper{max-width: 70%;}
      .img-wrapper::after{width: 267%; height: 171%;}
    }
  }
  .zkinfra-s5{
    padding: 65px 0 100px;
    .content{max-width: 300px; margin: 0 auto}
    .content::before{
      width: 310px; height: 310px; top: -10px; left: -5px;
    }

  }
  .zkinfra-s6{
    padding: 60px 0;
    .title{margin-bottom: 60px;}
    .roadmap{
      min-width: auto; grid-template-columns: repeat(1,1fr);
      .item{padding-bottom: 40px; margin-bottom: 30px; min-height: auto;}
      .item:nth-child(2),.item:nth-child(4){margin-left: 0; margin-top: 0;}
      .item:nth-child(4){
        margin-bottom: 0;
        .circles{bottom: -20px;}
      }
      &::after{display: none;}
    }
  }

  .box-dapp{
    padding: 26px 16px; margin-bottom: 46px;
    &.lg{min-height: 260px;}
    .coin{width: 68px;}
    .progress{margin-top: 25px;}
    input{width: calc(100% - 68px);}
  }
  .box-steps{
    >*+*::before{left: -6.2vw;}
  }

  .circles{bottom: -20px; left: -20px;}

  h2.title{font-size: 36px; line-height: 1.3;}
  .txt-xl{font-size: 26px; line-height: 36px;}
  .txt-md{font-size: 15px;}
}